<article class="post">
  <div class="title">
    <h1>{{post.title}}</h1> 
    <span>{{post.post_body}}</span>
  </div>
  <div class="meta">
   {{!-- {{post.vote_count}} point(s) by {{post.user.username}} on
    {{post.created_at}}
    | --}}
  <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>

{{#if comments}}
<div >
  <h3>comments</h3>

{{#each comments}}
<div>
  <p>{{comment.body}}</p>
</div>
</div>
{{/each}}
{{/if}}

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}

<script src="/javascript/comment.js"></script>

{{/if}}